.video-gradient-parent {
    position: absolute;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.video-gradient-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.video-gradient-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

@media (max-width:480px) {}