.vertical-player-wrapper .vjs-big-play-btn {
    z-index: 10;
    position: absolute;
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.vertical-player-wrapper .vjs-big-play-btn.hide {
    visibility: hidden !important;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-player-wrapper .vjs-big-play-button {
    display: none !important;
}