.video-description-parent {
    position: absolute;
    z-index: 10;
    width: 85%;
    padding: 30px 15px;
    bottom: 10px;
}

.video-description-text {
    font-size: 16px;
    font-family: sans-serif;
}

.video-description-tag {
    font-size: 12px;
    margin-bottom: 5px;
    color: #000;
    background-color: #eee;
    padding: 3px 5px;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

@media (max-width:480px) {
    .video-description-parent {
        bottom: 25px;
    }
}